menu "configure app (DuckyClaw) "

rsource "./ai_components/Kconfig"
rsource "./cron_service/Kconfig"
rsource "./gateway/Kconfig"
rsource "./IM/Kconfig"
rsource "./agent/Kconfig"
rsource "./tools/Kconfig"

endmenu