# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_BREAD_COMPACT_WIFI=y
CONFIG_ENABLE_BUTTON=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_FRAGMENT_LENGTH=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_CUSTOM_CONFIG=y
CONFIG_ENABLE_MBEDTLS_SHA512_C=y
CONFIG_ENABLE_MBEDTLS_SHA384_C=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
CONFIG_CRON_THREAD_STACK=3072
CONFIG_WS_SERVER_STACK_SIZE=2048
CONFIG_OUTBOUND_STACK_SIZE=4096
CONFIG_DUCKY_CLAW_AGENT_STACK=4096
CONFIG_IM_FS_POLL_STACK=4096
CONFIG_DUCKY_CLAW_CONTEXT_BUF_SIZE=16384
